html {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--font-family-copy, sans-serif);
  background: linear-gradient(to bottom, #fdfdfd, #fff3f3) no-repeat;
  color: var(--color-copy);
}

ol,
p {
  margin-bottom: 1.5rem;
}
