.intro {
  text-align: center;
}

.rules {
  max-width: var(--width-sm);
  margin: 0 auto;
  text-align: left;
  padding: clamp(1rem, 10vw, 2rem);
  border-radius: 1.5rem;
  background: var(--color-quiz-card);
  margin: 1rem auto 2rem;
}
