.info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.question {
  max-width: var(--width-md);
  padding: clamp(1rem, 10vw, 3rem);
  border-radius: 1.5rem;
  background: var(--color-quiz-card);
  margin: 1rem auto 2rem;
  text-align: center;
  font-size: clamp(1.125rem, 6vw, 1.5rem);
  position: relative;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.answer {
  content: '?';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  margin-left: -1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
}

.radios {
  display: flex;
  justify-content: center;
  gap: clamp(2rem, 10vw, 6rem);
  margin-bottom: 2rem;
  font-size: var(--font-size-5);
}

.submit {
  text-align: center;
}

.progress {
  height: 0.4rem;
  background: var(--color-progress-bar);
  transition: width 1.5s;
  border-radius: 8px;
}
