.link {
  text-decoration: none;
  color: #757aff;
  font-weight: bold;
  border-bottom: 4px solid;
  padding: 0.5rem 0;
  transition: 0.3s;
}

.link:hover,
.link:active,
.link:focus {
  color: #0008c1;
}
